<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components//polymer/lib/mixins/property-effects.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <header style="background-image: url('./images/fondopesos.jpg');position:relative;top:0;width: 100%;height: 90px;color: white;">
    </p><i><br><b><h3 align="center" > MODULO DE FACTURAS </h3></p></i></b></br>
      </p><i><h5 align="center" >   </h5></p></i>
    </header>

      <div id="primerapag" class="container" >
        <div style="background-color: white;width: 100%;height: 200px;"></div>
        <div class="card login-form">
	       <div class="card-body">
		      <h3 class="card-title text-center"> Modulo de Ingreso </h3>
		       <div class="card-text">
            <div class="form-group">
               <label for="email">Email</label>
      				 <input type="email" class="form-control form-control-sm" id="email" placeholder="micorreo@email.com" disabled="{{isLogged}}" value="{{email::input}}"> </p>
            </div>
            <div class="form-group">
               <label for="password">Password</label>
      				 <input type="password" class="form-control form-control-sm" id="password" placeholder="Password" disabled="{{isLogged}}" value="{{password::input}}"minlength="6"> </p>
            </div>
             </div>
              </div>
               </div>
            <div style="background-color: white;width: 100%;height: 20px;"></div>
            <div style=" text-align: center;">
            <button on-click="ingresar" class="btn btn-success" type="button" name="button" >Ingresar</button>
            <button on-click="registrar" class="btn btn-success" type="button" name="button">Registrar</button></div>
         </div>


        <div id="muestrausu" class="container" hidden$="{{hide}}">
          <div style="background-color: white;width: 100%;height: 100px;"></div>
          <div class="card login-form">
  	       <div class="card-body">
  		      <h1 class="card-title text-center"> Modulo de Facturas</h1>
            <h5 style=" text-align: right;"> Email de usuario: {{email}} </h5>
           <div class="card-text">

               <div class="card login-form">
                  <h3><b>Consultar Facturas </h3></b>
                  <button class="btn btn-success" on-click="consultac">Consultar</button>
               </div>
               <div style="background-color: white;width: 100%;height: 40px;"></div>
              <div class="card login-form">
                  <h3><b> Modificar Estado Factura </h3></b>
                  <button class="btn btn-success" on-click="modificarfact">Modificar</button>
              </div>
              <div style="background-color: white;width: 100%;height: 40px;"></div>
              <div class="card login-form">
                  <h3><b> Ingresar Facturas </h3></b>
                  <button class="btn btn-success" on-click="ingresarf">Ingresar</button>
              </div>
              <div style="background-color: white;width: 100%;height: 40px;"></div>
            </div>
          </div>
        </div>
          <button on-click="salir" class="btn btn-success" type="button" name="button"> Salir </button>
      </div>


      <div id="registrausu" class="container" hidden$="{{hide}}">
        <div style="background-color: white;width: 100%;height: 100px;"></div>
        <div class="card login-form">
         <div class="card-body">
          <h3 class="card-title text-center">Modulo de Registro </h3>
           <div class="card-text">

             <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control form-control-sm" id="nombre" placeholder="Su Nombre" disabled="{{isLogged}}" value="{{nombre::input}}"> </p>
             </div>

             <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control form-control-sm" id="apellido" placeholder="Su Apellido" disabled="{{isLogged}}" value="{{apellido::input}}"> </p>
             </div>

             <div class="form-group">
                <label for="cedula">Cedula</label>
                <input type="text" class="form-control form-control-sm" id="cedula" placeholder="Su cedula" disabled="{{isLogged}}" value="{{cedula::input}}"> </p>
             </div>

            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control form-control-sm" id="email" placeholder="micorreo@email.com" disabled="{{isLogged}}" value="{{email::input}}"> </p>
            </div>

            <div class="form-group">
               <label for="password">Password</label>
               <input type="password" class="form-control form-control-sm" id="password" placeholder="Password" disabled="{{isLogged}}" value="{{password::input}}"minlength="6"> </p>
            </div>
             </div>
              </div>
               </div>

            <button on-click="registrarusu" class="btn btn-success" type="button" name="button">Aceptar</button>
         </div>

         <div id="ingresarfact" class="container" hidden$="{{hide}}">
           <div style="background-color: white;width: 100%;height: 100px;"></div>
           <div class="card login-form">
            <div class="card-body">
             <h3 class="card-title text-center"> Ingreso de Facturas </h3>
              <div class="card-text">

                <div class="form-group">
                   <label>Referencia</label>
                   <input type="text" class="form-control form-control-sm" id="referencia" placeholder="Número de referencia" disabled="{{isLogged}}" value="{{referencia::input}}"> </p>
                </div>

                <div class="form-group">
                   <label>Valor</label>
                   <input type="text" class="form-control form-control-sm" id="valor" placeholder="Valor de la factura" disabled="{{isLogged}}" value="{{valor::input}}"> </p>
                </div>

                <div class="form-group">
                   <label>Empresa</label>
                   <input type="text" class="form-control form-control-sm" id="empresa" placeholder="Empresa de la factura" disabled="{{isLogged}}" value="{{empresa::input}}"> </p>
                </div>

               <div class="form-group">
                  <label>Estado</label>
                  <input type="text" class="form-control form-control-sm" id="estado" placeholder="Pendiente, Pagada" disabled="{{isLogged}}" value="{{estado::input}}"> </p>
               </div>

               <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control form-control-sm" id="email" placeholder="Password" disabled="{{isLogged}}" value="{{email::input}}"minlength="6"> </p>
               </div>
                </div>
                 </div>
                  </div>

               <button on-click="ingresarfact" class="btn btn-success" type="button" name="button">Registrar Factura</button>
            </div>

           <div id="msnerror" class="container" hidden$="{{hide}}">
             <div style="background-color: white;width: 100%;height: 200px;"></div>
              <div class="card login-form">
               <div class="card-body"
                <h3 class="card-title text-center"> Mensaje de Error </h3>
                 <div class="card-text">
                   <div class="form-group">
                      <h4 class=col-md-5> Error {{respuesta}} </h4>
                  </div>
                   </div>
                    </div>
                     </div>
                  <button on-click="devolver" class="btn btn-success" type="button" name="button">Aceptar</button>
               </div>

            <div id="muestrafact" class="container" hidden$="{{hide}}">
              <div style="background-color: white;width: 100%;height: 10px;"></div>
              <div class="card login-form">
               <div class="card-body">
                <h3 class="card-title text-center"> Sus Facturas </h3>
              </div>
              </div>

               <table class="table table-striped">
                 <tbody>
                   <tr>
                      <th scope="col">Referencia</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Empresa</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Email</th>
                   </tr>
                   <template is="dom-repeat" items="{{facturas}}">
                   <tr>
                       <td>
                         [[item.referencia]]
                       </td>
                       <td>
                         [[item.valor]]
                       </td>
                       <td>
                         [[item.empresa]]
                       </td>
                       <td>
                         [[item.estado]]
                       </td>
                       <td>
                         [[item.email]]
                       </td>
                     </tr>
                   </template>
                 </tbody>
               </table>
                 <button on-click="devolver" class="btn btn-success" type="button" name="button">Aceptar</button>
            </div>

               <div id="msnregok" class="container" hidden$="{{hide}}">
                 <div style="background-color: white;width: 100%;height: 200px;"></div>
                 <div class="card login-form">
                  <div class="card-body">
                   <h3 class="card-title text-center"> Registro Aceptado </h3>
                    <div class="card-text">
                      <div class="form-group">
                         <h4 class=col-md-5> Su registro ha sido exitoso </h4>
                     </div>
                      </div>
                       </div>
                        </div>
                     <button on-click="devolver" class="btn btn-success" type="button" name="button">Aceptar</button>
                  </div>

                  <div id="modificafact" class="container" hidden$="{{hide}}">
                    <div style="background-color: white;width: 100%;height: 10px;"></div>
                    <div class="card login-form">
            	       <div class="card-body">
            		      <h3 class="card-title text-center"> Actualización de factura </h3>
            		       <div class="card-text">
                        <div class="form-group">
                           <label>Referencia</label>
                  				 <input type="text" class="form-control form-control-sm" id="email" placeholder="Numero de referencia" disabled="{{isLogged}}" value="{{referencia::input}}"> </p>
                           <label>Estado</label>
                  				 <input type="text" class="form-control form-control-sm" id="estado" placeholder="Pendiente,Pagada" disabled="{{isLogged}}" value="{{estado::input}}"minlength="6"> </p>
                        </div>
                         </div>
                          </div>
                           </div>
                        <button on-click="actualizarfact" class="btn btn-success" type="button" name="button">Actualizar</button>
                       </div>

<div style="height:200px; min-height: 100px;position: absolute;">
</div>

 <footer style="background-image: url('./images/fondopesos.jpg');position: absolute;bottom: 0;width: 100%;height: 70px;color: white;">
       </p><i><h5 align="center" > ** TechU Practicioner 2019 - Realizado por: Adriana Fuquene y Liliana Morales ** </h5></p></i>
  </footer>

  </template>

  <script>
     class LoginUsuario extends Polymer.Element {
       static get is() { return 'login-usuario'; }
       static get properties() {
         return {
           email: {
             type: String
           },
           nombre: {
             type: String
           },
           password: {
             type: String
           }, isLogged: {
             type: Boolean,
             value: false
           }, id:{
             type: String
           },fn:{
            type: String
           },ln:{
             type: String
           },
           hide:{
             type: Boolean,
             value: true
           },
           rpta:{
             type: String
           }
         };
    }

    ingresar(){
      console.log("El usuario ha dado el botón ingresar.");
      this.$.muestrausu.hidden = true;
      this.$.registrausu.hidden = true;
      this.$.primerapag.hidden = true;
      this.$.ingresarfact.hidden = true;
      this.$.modificafact.hidden = true;
      var url = "http://localhost:3000/usuarios/ingreso";
      var request = new XMLHttpRequest();
      request.open("POST", url, false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json" );
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      var body = JSON.stringify(loginData);

     request.send(body);
       console.log("Esta es la url" + url);
       this.clientes = JSON.parse(request.responseText);
       console.log("Este es el body" + body);
       this.respuesta=request.responseText;
       this.rpta = this.respuesta;

     if(this.respuesta == "200"){
         this.$.muestrausu.hidden = false;
         this.$.registrausu.hidden = true;
         this.$.primerapag.hidden = true;
         this.$.modificafact.hidden = true;
         console.log("Entro por el if" + this.respuesta);

      }else {
         this.$.msnerror.hidden = false;
         console.log("Entro por el else" + this.respuesta);
       }
  }

 registrar(){
    console.log("El usuario ha pulsado el botón. registrar");
    this.$.muestrausu.hidden = true;
    this.$.registrausu.hidden = false;
    this.$.primerapag.hidden = true;
    this.$.muestrafact.hidden = true;
    this.$.ingresarfact.hidden = true;
    this.$.modificafact.hidden = true;
  }
  ingresarf(){
     this.$.muestrausu.hidden = true;
     this.$.registrausu.hidden = true;
     this.$.primerapag.hidden = true;
     this.$.muestrafact.hidden = true;
     this.$.ingresarfact.hidden = false;
     this.$.modificafact.hidden = true;
   }

  devolver(){
     this.$.muestrausu.hidden = false;
     this.$.registrausu.hidden = true;
     this.$.primerapag.hidden = true;
     this.$.msnregok.hidden = true;
     this.$.muestrafact.hidden = true;
     this.$.ingresarfact.hidden = true;
     this.$.modificafact.hidden = true;
   }

   salir(){
      this.$.muestrausu.hidden = true;
      this.$.registrausu.hidden = true;
      this.$.primerapag.hidden = false;
      this.$.msnregok.hidden = true;
      this.$.muestrafact.hidden = true;
      this.$.ingresarfact.hidden = true;
      this.$.modificafact.hidden = true;
    }

  registrarusu(){
    console.log("El usuario se ha registrado exitosamente");
     this.$.muestrausu.hidden = true;
     this.$.registrausu.hidden = true;
     this.$.primerapag.hidden = true;
     this.$.muestrafact.hidden = true;
     this.$.ingresarfact.hidden = true;
     this.$.modificafact.hidden = true;
     var request = new XMLHttpRequest();
     var url = "http://localhost:3000/usuarios/registro";
     request.open("POST", url, false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json" );
    // var login = this.id + '/' + this.password ;
     var loginData = {
       "nombre" : this.nombre,
       "apellido" : this.apellido,
       "cedula" : this.cedula,
       "email" : this.email,
       "password" : this.password
     };
     var body = JSON.stringify(loginData);
     request.send(body);
      this.clientes = JSON.parse(request.responseText);
      console.log("Esta es la url" + url);
      this.respuesta=request.responseText;
      this.rpta = this.respuesta;

    if(this.respuesta == "200"){
        this.$.msnregok.hidden = false;
       }
       else {
        this.$.msnerror.hidden = false;
      }
   }

   consultac(){
     console.log("El usuario ha entrado a conusltar sus facturas");
      this.$.muestrausu.hidden = true;
      this.$.registrausu.hidden = true;
      this.$.primerapag.hidden = true;
      this.$.ingresarfact.hidden = true;
      this.$.modificafact.hidden = true;
      var loginData = {
        "email" : this.email,
      };
      var request = new XMLHttpRequest();
      var emails = this.email;
      var url = "http://localhost:3000/facturas/"+emails+"/referencia";
      console.log(url);
      request.open("GET", url, false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json" );

      var body = JSON.stringify(loginData);
     request.send(body);
     this.facturas = JSON.parse(request.responseText);
       console.log(this.facturas);
       this.$.muestrafact.hidden = false;
    }

    modificarfact(){
      console.log("El usuario ha entrado a modificar sus facturas");
       this.$.muestrausu.hidden = true;
       this.$.registrausu.hidden = true;
       this.$.primerapag.hidden = true;
       this.$.ingresarfact.hidden = true;
       this.$.modificafact.hidden = true;
       var loginData = {
         "email" : this.email,
       };
       var request = new XMLHttpRequest();
       var emails = this.email;
       var url = "http://localhost:3000/facturas/"+emails+"/referencia";
       console.log(url);
       request.open("GET", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json" );

       var body = JSON.stringify(loginData);
       request.send(body);
       this.facturas = JSON.parse(request.responseText);
       console.log(this.facturas);
       this.$.muestrafact.hidden = false;
       this.$.modificafact.hidden = false;

 }
     actualizarfact(){
     //Para hacer el POST de la referencia
     var refe = this.referencia;
     console.log(this.referencia);
     var url = "http://localhost:3000/facturas/"+refe;
     console.log(url);
     var request = new XMLHttpRequest();
     request.open("PUT", url, false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json" );
     var loginData = {
          "referencia" : this.referencia,
          "estado" :this.estado,
     };
     var body = JSON.stringify(loginData);
    request.send(body);
    console.log("Esta es la url" + url);
    this.clientes = JSON.parse(request.responseText);
    console.log("Este es el body" + body);
    this.respuesta=request.responseText;
    this.rpta = this.respuesta;
/*
    if(this.respuesta == "200"){
        this.$.muestrausu.hidden = false;
        this.$.registrausu.hidden = true;
        this.$.primerapag.hidden = true;
        this.$.modificafact.hidden = true;
        console.log("Entro por el if" + this.respuesta);

     }else {
        this.$.msnerror.hidden = false;
        console.log("Entro por el else" + this.respuesta);
      }*/
     }

    ingresarfact(){
      console.log("El usuario ha registrado exitosamente la factura");
       this.$.muestrausu.hidden = true;
       this.$.registrausu.hidden = true;
       this.$.primerapag.hidden = true;
       this.$.muestrafact.hidden = true;
       this.$.modificafact.hidden = true;
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/facturas/registro";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json" );
      // var login = this.id + '/' + this.password ;
       var loginData = {
         "referencia" : this.referencia,
         "valor" : this.valor,
         "empresa" : this.empresa,
         "estado" : this.estado,
         "email" : this.email
       };
       var body = JSON.stringify(loginData);
       request.send(body);
        this.clientes = JSON.parse(request.responseText);
        console.log("Esta es la url" + url);
        this.respuesta=request.responseText;
        this.rpta = this.respuesta;

      if(this.respuesta == "200"){
          this.$.ingresarfact.hidden = true;
          this.$.msnregok.hidden = false;
         }
         else {
          this.$.ingresarfact.hidden = true;
          this.$.msnerror.hidden = false;
        }
     }

}
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
