<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-movi">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div  hidden="{{noMostrar}}" class="span4">
         <h1 class="col-md-12">=====Movimientos=======</h1>
       </div>
       <iron-ajax
         url=""
         id="getmov"
         handle-as="json"
         on-response="showData1"></iron-ajax>
         <table bordercolor = "#0000FF" border="8" cellpadding="1" cellspacing="1" hidden$="{{noMostrar}}">
           <thead>
             <tr>
               <td scope="col">IBAN</td>
               <td scope="col">Fecha</td>
               <td scopee ="col">importe</td>
             </tr>
           </thead>
          <tbody>
         <template is="dom-repeat" items="[[movement]]"  hidden="{{noMostrar}}">
          <tr>
           <th>{{item.iban}}</th>
           <td>{{item.fecha}}</td>
           <td>{{item.importe}}</td>
         </tr>
         </template>
       </tbody>
     </table>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovi extends Polymer.Element {
      static get is() { return 'visor-movi'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          },iban:{
            type:String
          }, noMostrar:{
            type:Boolean,
            value:true
          }
        };
      }
      limpiar(){
        this.noMostrar=true;
      }
      consulta(data,iban){
        var prurl = "http://localhost:3002/colapi/v3/users/accounts/" + "'"+ "{{iban}}" + "'" + "/movement";
        console.log(" vr iban = " + data.ibanRec);
        console.log(" vr de otro " + iban);
        console.log(" url " + prurl);
        this.iban = iban;
        // hacemos petición con los datos del formulario del iron-ajax
        this.$.getmov.url = "http://localhost:3002/colapi/v3/users/account/" + this.iban+"/movement"
        this.$.getmov.generateRequest();
      }
      showData1(data1){
       //console.log(data);
       console.log("Recibidos datos--- de movimientos>>:");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
       console.log(data1.detail.response);
       this.noMostrar=false;
       this.movement = data1.detail.response;
     }
    }
    window.customElements.define(VisorMovi.is, VisorMovi);
  </script>
</dom-module>
