<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components//polymer/lib/mixins/property-effects.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;

      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <div class="container">

        <div class="row">
         <h1 class="col-lg-12">Alta de Usuarios</h1>
         </div>
          <p>Id: <input type="text" name="id" size="40"></p>
         <p>Nombre: <input type="text" name="nombre" size="40"></p>
         <p>Apellido: <input type="text" name="nombre" size="40"></p>
          <p>Ingreso Email<input type="email" placeholder="Email" size="60" value="{{email::input}}"> </p>
          <p> Password: <input type="password" placeholder="Password" value="{{password::input}}" minlength="6"> </p>
            <button on-click="guardar" class="btn btn-success" type="button" name="button">Guardar</button>


      </div>
  </template>

  <script>
     class registroUsuario extends Polymer.Element {
       static get is() { return 'login-usuario'; }
       static get properties() {
         return {
           email: {
             type: String
           }, password: {
             type: String
           }, isLogged: {
             type: Boolean,
             value: false
           }, id:{
             type: String
           },fn:{
            type: String
           },ln:{
             type: String
           }
         };
    }
    guardar(){
      console.log("El usuario ha pulsado el botón.");
      var request = new XMLHttpRequest();
      var url = "http://localhost:3002/Usuarios";
      request.open("POST", url, false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json" );
     // var login = this.id + '/' + this.password ;

      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      var body = JSON.stringify(loginData);

       request.send(body);
     //  console.log(login);
     //  console.log('body'+ body);
       console.log(url);
       this.clientes = JSON.parse(request.responseText);
  }
}
    window.customElements.define(registroUsuario.is, registroUsuario);
  </script>
</dom-module>
