<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>demopolymer</title>
    <meta name="description" content="Mi primera aplicacion polymer 2">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <!--<link rel="import" href="/src/demopolymer-app/demopolymer-app.html">
    <link rel="import" href="/src/mi-visor/mi-visor.html">-->
    <link rel="import" href="/src/login-usuario/login-usuario.html">
  </head>
  <body>
    <!--demopolymer-app></demopolymer-app-->
    <!--<div class="container">
      <div class="row">
        <gestor-clientes></gestor-clientes>
        <mi-visor class="col-lg-3"></mi-visor>
        <mi-visor class="col-lg-3"></mi-visor>
        <mi-visor class="col-lg-3"></mi-visor>
      </div>
    </div-->
    <template is="dom-if" if="{{_isEqualTo(statusApp, 'SIN_LOGIN')}}">
   <login-usuario on-login-ok="ingreso" on-not-user="registro" user={{user}} password={{password}}></login-usuario></login-usuario>
 </template>
   <template is="dom-if" if="{{_isEqualTo(statusApp, 'REGISTRO'')}}">
  <registro-usuario on-login-ok="ingreso" on-goto-login="logout"></registro-usuario></registro-usuario>
    </template>

    <login-usuario></login-usuario>
  </body>
</html>
